@page
@model FociWebAppUj.Pages.MeccsekAdataiModel

@{
    ViewData["Title"] = "MeccsekAdatai";
}

<h1>MeccsekAdatai</h1>

<div>
    <h4>Meccs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meccs.Fordulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meccs.Fordulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meccs.HazaiVeg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meccs.HazaiVeg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meccs.VendegVeg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meccs.VendegVeg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meccs.HazaiFelido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meccs.HazaiFelido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meccs.VendegFelido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meccs.VendegFelido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meccs.HazaiCsapat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meccs.HazaiCsapat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meccs.VendegCsapat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meccs.VendegCsapat)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./MeccsekSzerkesztése" asp-route-id="@Model.Meccs.Id">Szerkesztés</a> |
    <a asp-page="./MeccsekListazasa">Vissza a Listára</a>
</div>
